# Node.js dependencies
node_modules/
npm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# Build files
dist/
build/
.vite/

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/
*.iml

# Temporary files
*.swp
*.swo
*.tmp
*.temp

# Miscellaneous
*.bak
*.orig
